    html {
        min-height: 100%;
    }

    body {
        background-image: linear-gradient(45deg, #f7e7bd 0%, #d9c6a5 25%, #a35d6a 50%, #c26565 75%);
    }

    h1 {
        color: #a20a0a;
        font-size: 40px;
        text-align: center;
        border: 5px solid #734046;
        margin: 20px 10px 20px 10px;
        padding: 5px 20px;
        display: block;
        font-family: fantasy;
        border-radius: 20px;
    }

    h2 {
        text-align: center;
        font-family: fantasy;
    }

    hr {
        color: #a20a0a;
    }

    .HarryPotter {
        display: flex;
    }

    img {
        width: 450px;
        line-height: 5px;
        display: block;
        margin: 0 auto;
    }

    p {
        text-align-last: center;
        text-align: justify;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
        margin: 20px 10px 20px 10px;
    }

    span.maincharacter {
        color: #a20a0a;
    }

    li {
        list-style: none;
        padding: 0;
        text-align: left;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
    }

    a.wikipedia {
        text-decoration: none;
        color: #a20a0a;
    }

    button {
        font-family: fantasy;
        color: #ffe05d;
        background: #bb2205;
        cursor: pointer;
        transition: all 200ms ease-in-out;
        box-shadow: 5px 5px 10px black;
        display: block;
        padding: 15px 10px;
        margin: 20px auto;
        border: 1px solid #bb2205;
        font-size: 20px;
        border-radius: 40px;
    }

    button:hover {
        background: #ffe05d;
        color: #bb2205;
    }