    html {
        min-height: 100%;
    }

    h1 {
        color: #fecd51;
        font-size: 40px;
        padding: 5px 20px;
        font-family: fantasy;
    }

    h2 {
        color: #ffe9e3;
        font-family: fantasy;
        font-size: 25px;
    }

    .HarryPotter {
        display: flex;
    }

    img {
        width: 450px;
        line-height: 5px;
        display: block;
        margin: 10px;
        border-radius: 5px;
    }

    p {
        color: #ffe9e3;
        text-align-last: center;
        text-align: justify;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
        margin: 20px 10px 20px 10px;
    }

    span.maincharacter {
        color: #8dc6ff;
    }

    li {
        list-style: none;
        padding: 0;
        margin: 10px;
        text-align: left;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
    }

    a.wikipedia {
        text-decoration: none;
        color: #fecd51;
    }

    button {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
    color: #fecd51;
    background: #3b50b2;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    box-shadow: 5px 5px 10px black;
    padding: 15px 10px;
    border: 1px solid #3b50b2;
    font-size: 20px;
    border-radius: 15rem;
    }

    button:hover {
        background: #fecd51;
        color: #bb2205;
    }